{% extends 'fashion/admin_base.html' %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Orders</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Order Manager Name</th>
          <th>Supplier Name</th>
          <th>Item Id</th>
          <th>Quantity</th>
          <th>Date</th>
        </tr>
      </thead>
      {% for a in orders %}
      <tr>
        <td> {{a.ordermngrName}}</td>
        <td>{{a.supplierName}}</td>
        <td>{{a.item_code}}</td>
        <td>{{a.quantity}}</td>
        <td>{{a.orderDate}}</td>
      </tr>
      {% endfor %}

      {% comment %} <div class="download">
        <a href="printFile" class="print"> <i class="fa fa-print" aria-hidden="true"></i>Print Details</a>
      </div> {% endcomment %}

    </table>
  </div>
</div>

{% endblock content %}
