<!--Topside-->
<br>
<br>
<br>
<div class="container">
    <div class="row mt-4">
        
        <div class="col-md-12">
            <div class="card">
                <div class="card-header  text-dark" style="background-color: rgb(211,208,208);">
                    <h5>Functions</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        
                        <div class="col-md-4">
                            <a class="text-decoration-none text-white" href="{% url 'supplierapp-supplier' %}">
                                <div class="card my-card shadow text-center p-3" style="background-color: rgb(11,109,202);">
                                    <h4>Suppliers <i class="fas fa-box"></i></h4>
                                    
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-white" href="https://www.google.lk/maps/@6.8276655,80.0989829,10z">
                                <div class="card my-card shadow text-center p-3" style="background-color: rgb(11,109,202);">
                                    <h4>Location <i class="fas fa-shipping-fast"></i></h4>
                                    
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-white" href="{% url 'supplierapp-SupplierReport' %}">
                                <div class="card my-card shadow text-center p-3" style="background-color: rgb(11,109,202);">
                                    <h4>Supplier Report <i class="fas fa-box"></i></h4>
                                   
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Topside-->