<!--Topside-->
<br>
<br>
<br>
<div class="container">
    <div class="row mt-4">
        
        <div class="col-md-12">
            <div class="card">
                <div class="card-header  text-darck" style="background-color:rgb(211,208,208);"><h5> Functions</h5> </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="text-decoration-none text-white" href="{% url 'salesapp-sales' %}">
                                <div class="card my-card shadow text-center p-3" style="background-color:rgb(11,109,202);">
                                    <h4>Sales <i class="fas fa-users"></i></h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-white" href="{% url 'salesapp-report' %}">
                                <div class="card my-card shadow text-center p-3" style="background-color:rgb(11,109,202);">
                                    <h4>Generate Report PDF<i class="fas fa-box"></i></h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-white" href= "https://calendar.google.com/calendar/u/0/r?cid=addressbook%23contacts@group.v.calendar.google.com&cid=en-gb.lk%23holiday@group.v.calendar.google.com" >
                                <div class="card my-card shadow text-center p-3" style="background-color:rgb(11,109,202);">
                                    <h4>Calender <i class="fas fa-shipping-fast"></i></h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Topside-->
